html {
    background-color: #141a20;
    color: #e4f2ff;
    font-family: Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}